extends ../layouts/default

block content
  
  #top-bar.contain-to-grid
      nav.top-bar
        ul
          li.name 
            h1 
              a(href="#") aSimple.form
 
  .row#tabs(style="margin-top: 10px; margin-bottom: 10px")
    .twelve.columns
        dl.horizontal.tabs
          dd
            a(id="view", href="#") View profiles
          dd
            a(id="new", href="#") Add profile
          dd
            a(href="/logout") Logout
  
  .row#status
    .twelve.columns.status
      | Status: 

  .row#preloader
    .twelve.columns.preloader
      | Loading... 

  .row#viewTab
    .three.columns.profiles#profile-board
      .panel
        h5 Profiles
        button.button.small.alert.bottom-margin(id="btn-add-profile") NEW PROFILE

        dl.vertical.tabs#profile-list
      .panel.profile-buttons
        button.button.small.alert.bottom-margin(id="btn-edit-profile") EDIT
        button.button.small.alert.bottom-margin(id="btn-add-profile") EXPORT
        button.button.small.alert.bottom-margin(id="btn-remove-profile") DELETE

    .nine.columns.profile-forms
      .row
        .twelve.columns#profile-area
           #profile-tmpl
         
  .row#newTab
    .twelve.columns#form-area
      h3.no-top-margin Add a new profile
          hr
          form(method="post", id="new_profile", action="/data/store")
            fieldset.no-top-margin
             legend Profile
             .row
               .four.columns
                 label.left.inline Profile name
               .eight.columns
                 input#ssn(type='text', name="profile_name", placeholder='Profile name')

            fieldset.no-top-margin
             legend Personal information 
             .row
               .four.columns
                 label.left.inline Social security number
               .eight.columns
                 input#ssn(type='text', name="personal_ssn", placeholder='Social security number')

             .row
               .four.columns
                 label.left.inline Phone number
               .eight.columns
                 input#phone(type='text', name="personal_phone", placeholder='Phone')

            .row
              .twelve.columns(style="text-align:center")
               button.button(id='pushData') SUBMIT

            .row
              .twelve.columns
                h3 What happens when I submit?
                h5.subheader 
                  | When you press submit we take the data you have added, encrypt it based on your secret master key and store it in your dropbox. 
                  | This way we ensure that you are the only one with access to your data. Please be careful - if you forget your 
                  | master key we will not be able to recover it, as we do not store it anywhere! 
  
  input(type='hidden', id='csrf', name='_csrf', value=token)
  
  // Modals
  #masterModal.reveal-modal.medium
    h3 Please insert your master key
    .row
      .twelve.columns
        input#masterKey(type='text', name='masterKey', placeholder='Master key')
        p 
          | What is the master key etc. here
        p
          b
           | Please remember your master key. We do not store it and can not help you reset it!
    .row
      .panel(style='text-align:center')
        a.button(id="closeMasterModal") SUBMIT
  
    
  script(type="text/javascript")
     var userObj = !{JSON.stringify(user)};