extends ../layouts/default

block content
  
  #top-bar.contain-to-grid
      nav.top-bar
        ul
          li.name 
            h1 
              a(href="#") aSimple.form

  .row(style="margin-top: 10px; margin-bottom: 10px")
    .twelve.columns
        dl.horizontal.tabs
          dd
            a(href="/logout") Logout

  .row
    .three.columns
      .panel
        h5 Profiles
        button.button.small.alert.bottom-margin(id="form-add") NEW PROFILE
        dl.vertical.tabs
          dd
            a(href="#") Record 1
          dd
            a(href="#") Record 2

    .nine.columns
      .row
        .twelve.columns#form-area
          form(method="post", action="/data/store")
            fieldset.no-top-margin 
             .row
               .four.mobile-one.columns
                 label.left.inline Social security number
               .eight.mobile-one.columns
                 input#ssn(type='text', name="ssn", placeholder='Social security number')

             .row
               .four.mobile-one.columns
                 label.left.inline Phone number
               .eight.mobile-one.columns
                 input#phone(type='text', name="phone", placeholder='Phone')

             .row
               .four.mobile-one.columns
                 label.left.inline Master key
               .eight.mobile-one.columns
                 input#master-sub(type='text', name="master", placeholder='Master key')

            .row
              .twelve.mobile-one.columns(style="text-align:center")
               input(type='hidden', id='_csrf', name='_csrf', value=token)
               button.button(id='pushData') SUBMIT

   
  // Modals
  #masterModal.reveal-modal.medium
    h2 Please insert your master key
    .row
      .twelve.columns
        input#masterKey(type='password', name='masterKey', placeholder='Master key')
        p 
          | What is the master key etc. here
        p
          b
           | Please remember your master key. We do not store it and can not help you reset it!
    .row
      .panel(style='text-align:center')
        a.button(id="closeMasterModal") SUBMIT

  
