extends ../layouts/default

block content
   h1 
     | Great you have successfully connected your 
     = service 
     |  account 

   h3 How this service works
   a(class="btn btn-success", href="/dashboard") Go to dashboard