// Add javascripts here!
script(src="/js/vendor/jquery.js")
script(src="/js/vendor/foundation.min.js")
script(src="/js/vendor/app-foundation.js")
script(src="/js/vendor/jquery.jkit.1.1.15.min.js")
script(src="/js/app.js")